body {
    margin: 0;
    overflow: hidden;

}

#screen {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
}

game {
    position: relative;
}

/************* STARTSIDE ****************/

#start_screen {
    background-image: url("titel_baggrund.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}


#play_button {
    background-image: url("play.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 20vw;
    height: 10vw;
    left: 73vw;
    top: 12vw;
    cursor: pointer;
}


#settings_button {
    background-image: url("settings_button.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 31.5vw;
    height: 11vw;
    left: -6vw;
    top: -4vw;
    cursor: pointer;
}

/************** SETTINGSKÆRM **************/

#settings_screen {
    background-image: url("settings_skearm.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80vw;
    height: 80vw;
    position: absolute;
    left: 11vw;
    top: 7vw;
}


#sound_sprite {
    background-size: 500% 100%;
    width: 15vw;
    height: 15vw;
    top: 24vw;
    left: 44vw;
    background-image: url("toggle_sprite.svg");
    display: inline-block;
    position: absolute;
    cursor: pointer;

}

#music_sprite {
    background-size: 500% 100%;
    width: 15vw;
    height: 15vw;
    top: 20vw;
    left: 37;
    background-image: url("toggle_sprite.svg");
    display: inline-block;
    position: absolute;
    cursor: pointer;

}

}

#sound_sprite {
    top: 14.5vw;
    left: 64vw;

}

#music_sprite {
    top: 14vw;
    left: 44vw;
}

.on {
    background-position: 0;
}

.off {
    background-position: -400% 0;
}

.off_on {
    animation-name: on_off_kf;
    animation-direction: reverse;
    animation-duration: 0.15s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: steps(4);
}

.on_off {
    animation-name: on_off_kf;
    animation-duration: 0.15s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: steps(4);
}

@keyframes on_off_kf {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}

#close_settings {
    background-image: url("luk_knap.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 17vw;
    height: 6vw;
    position: absolute;
    left: 54.5vw;
    top: 3vw;
    z-index: 6;
    cursor: pointer;
}

/************** INTROSKRÆRM ****************/

#intro_skaerm {
    background-image: url("Introduktion.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 88vw;
    height: 36vw;
    position: absolute;
    z-index: 3;
    left: 5vw;
    top: 2.9vw;
}

#videre_knap {
    background-image: url("play.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    height: 10vw;
    position: absolute;
    z-index: 3;
    left: 53vw;
    top: 25vw;
    cursor: pointer;
}


/************** GAME START ********************/

#game_background {
    background-image: url("spil_baggrund.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#game_frontground {
    background-image: url("spil_forgrund.svg");
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.type1 {
    position: absolute;
    z-index: 2;
    width: 50vw;
    height: 24vw;
    background-image: url(spogelse.svg);
    background-size: 100%;
    cursor: pointer;
}

.type2 {
    position: absolute;
    z-index: 2;
    width: 50vw;
    height: 24vw;
    background-image: url(barn.svg);
    background-size: 100%;
    cursor: pointer;
}

.position1 {
    left: 7vw;
    top: 12vw;
}

.position2 {
    left: -6vw;
    top: 12vw;
}

.position3 {
    left: 59vw;
    top: 17vw;
}

.position4 {
    left: 45vw;
    top: 33vw;
}

.position5 {
    left: 70vw;
    top: -7vw;
}

.position6 {
    left: 63vw;
    top: 10vw;
}

.position7 {
    left: -16vw;
    top: 8vw;
}

.position8 {
    left: -10vw;
    top: 20vw;
}

.position9 {
    left: 8vw;
    top: 30vw;
}

.position10 {
    left: 50vw;
    top: 20vw;
}

#points {
    position: absolute;
    z-index: 2;
    top: 45vw;
    left: 90vw;
    color: yellow;
    width: 3rem;
    font-size: 4rem;
    font-family: lato;
    text-align: center;
}

#energy {
    position: absolute;
    top: 51vw;
    left: 84vw;
    display: flex;
    justify-content: flex-start;
    */
}

.heart {

    z-index: 2;
    width: 4.5vw;
    height: 3.96vw;
    background-image: url(heart.svg);
    background-size: 100%;
    margin-right: 0.9vw;
}

/****************TID****************/
#time {
    background-image: url(tid.svg);
    background-size: 100%;
    width: 10vw;
    height: 10vw;
    position: absolute;
    z-index: 3;
    left: 92vw;
    top: -2vw;
}

/************* SLUTSKÆRME *****************/

#vandt {
    background-image: url("vandt.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 88vw;
    height: 36vw;
    position: absolute;
    z-index: 3;
    left: 5vw;
    top: 2.9vw;
}

#spiligen_button {
    background-image: url("play.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20vw;
    height: 17vw;
    position: absolute;
    left: 33vw;
    top: 24vw;
    cursor: pointer;
}

#tabt {
    background-image: url("tabt.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 88vw;
    height: 36vw;
    position: absolute;
    z-index: 3;
    left: 5vw;
    top: 2.9vw;
}


/************** ANIMATIONER ****************/

.time_rotation {
    animation-name: time;
    animation-duration: 9s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    transform-origin: 50% 92%;
}


@keyframes time {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}


.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes pulse_kf {
    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.blur {
    filter: blur(5px) brightness(80%);
}

.dissappear {
    animation-name: dissappear_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}

@keyframes dissappear_kf {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
